.FirstPathAuth
{
  background-image: url('./assets/backround1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(92, 28, 28);
  padding-top: 10px;
}

.SecondPathAuth
{
  background-image: url('./assets/backround1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(92, 28, 28);
}

.EcritVert{
  color: #20986e;
}

.ArrierePlan
{
  background-color: #20986e;
}

.ArrierePlan:hover
{
  background-color: #20986e;
}

.FirstPathAuth2{
  background-color:rgba(46, 35, 164, 0.514);
}

.secondplace{
  background-image: url('./assets/AuthBottomBackground.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 500px;
  background-blend-mode: hard-light;
  background-position-x: right;
}

.secondplaceBottom{
  background-image: url('./assets/AuthTopBackground.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.secondplaceLogin{
  background-image: url('./assets/AuthBottomBackground.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 250px;
  background-blend-mode: hard-light;
  background-position-x: center;
}

.lesCheckbox:checked{
background-color: #20986e;
color: #20986e;
}
.imageStyle{
  width: 10vw;
  
}
.dh{
  color: #20986e;
}

.enteteTableau{
  background-color: #20986e;
}
thead{
  border-radius:32px;
}
.mantine-1dn2tzg
{
  color:#fff;
}

.mantine-1dn2tzg:hover{
  color:black;
}

.mantine-58izoo:hover{
  color:black;
}

.ombre{
  box-shadow: inherit;
}

.mantine-nsdj{
  margin: 0px;
}