.FirstPathAuth
{
  background-image: url('./assets/backround1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(92, 28, 28);
  padding-top: 10px;
}

.SecondPathAuth
{
  background-image: url('./assets/backround1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  background-color: rgb(92, 28, 28);
}


.noire , .noire:hover{
  background-color: #000;
}
.EcritVert{
  color: #20986e;
}

.ArrierePlan
{
  background-color: #20986e;
}

.ArrierePlan:hover
{
  background-color: #20986e;
}

.ArrierePlanNeutre
{
  background-color: #b0c6be;
}

.ArrierePlanNeutre:hover
{
  background-color: #b0c6be;
}

.ArrierePlan:hover
{
  background-color: #20986e;
}

.FirstPathAuth2{
  background-color:rgba(46, 35, 164, 0.514);
}

.secondplace{
  background-image: url('./assets/AuthBottomBackground.svg');
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 500px;
  background-blend-mode: hard-light;
  background-position-x: right;
}

.secondplaceBottom{
  background-image: url('./assets/AuthTopBackground.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  padding: 0px;
  margin-inline: 0px;
}

.secondplaceLogin{
  background-image: url('./assets/AuthBottomBackground.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 250px;
  background-blend-mode: hard-light;
  background-position-x: center;
}

.lesCheckbox:checked{
background-color: #20986e;
color: #20986e;
}
.imageStyle{
  width: 10vw;
  
}
.dh{
  color: #20986e;
}

.enteteTableau{
  background-color: #20986e;
}
thead{
  border-radius:32px;
}
.mantine-1dn2tzg
{
  color:#fff;
}

.mantine-1dn2tzg:hover{
  color:black;
}

.mantine-58izoo:hover{
  color:black;
}

.ombre{
  box-shadow: inherit;
}

.mantine-nsdj{
  margin: 0px;
}

.mantine-x2728r,.mantine-wuvfgn  {
  padding: 0;
}

.remplire{
  color: #20986e;
}

.mantine-1137jyz:checked {
  background-color: #20986e;
  border-color: #20986e;
}

body{
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}


.spanButton:hover{
  cursor: pointer;
}

.BgYellow{
background-color: #fab005;
}

.BgYellow:hover{
  background-color: #fab005;
  }



  .attente {
    background-color: #fab005;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 25px 5px 25px;
    border-radius: 20px;
  }
  .valide {
    background-color: #20986e;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    color: #fff;
    
  }
  .annule {
    background-color: #d82e2e;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 22px 5px 22px;
    border-radius: 20px;
    color: #fff;
    
  };

  .pointer{
    cursor: pointer;
  }



  .mantine-12nkxei {
 
    width: 40px !important;
    height: 40px !important;
    
}